<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/portal/login" method="post" class="font-normal">
            <input type="text" name="name" class="form-control" style="height: auto;" placeholder="username" id="name"><br>
            <input type="password" name="password" class="form-control" style="height: auto;" placeholder="password" id="password"><br>
            <button class="btn btn-1 birgula" type="submit"> Login</button>            
        </form><br>
        <span class="text-muted">No account?</span> <a href="/portal/login">Signup now.</a>

    </div>
</div>