<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="/portal/new" method="post" class="font-normal">
            <input type="text" name="name" class="form-control" style="height: auto;" placeholder="username" id="name"><br>
            <input type="email" name="email" class="form-control" style="height: auto;" placeholder="email" id="email"><br>
            <input type="password" name="password" class="form-control" style="height: auto;" placeholder="password" id="password"><br>
            <input type="password" name="re-password" class="form-control" style="height: auto;" placeholder="re-enter password" id="re-password"><br>
            <button class="btn btn-1 birgula" type="submit"> Create Account</button>            
        </form><br>
        <span class="text-muted">Already have a account?</span> <a href="/portal/login">Login now.</a>

    </div>
</div>