<div class="container">
    <form action="/new" method="post">
        <input type="text" class="form-control fit-2-input" placeholder="{{user.username}}" disabled>
        <input type="text" class="form-control fit-2-input" placeholder="a_repo_name" />
    </form>
</div>